body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #17258c;
}

h1{
    font-family: sans-serif;
    color: cadetblue;
    font-size: 35px;
}

#game {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
}

button {
    width: 100%;
    height: 25vw;
    font-size: 30px;
}

#start {
    width: 30vw;
    height: 10vw;
    background-color: palevioletred;
    color: white;
    margin: 20px;
}

#red {
    background-color: red;
    border-radius: 1000px 0px 0pc 0px;
}

#green {
    background-color: green;
    border-radius: 0px 1000px 0pc 0px;
}

#blue {
    background-color: blue;
    border-radius: 0px 0px 1000px 0px;
}

#yellow {
    background-color: yellow;
    border-radius: 0px 0px 0px 1000px;
}
